/* style.css */

body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

    .form input {
        font-family: "Arial", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        border-radius: 5px;
    }

    .form button {
        font-family: "Arial", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #16739f;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #ffffff;
        font-size: 14px;
        cursor: pointer;
        border-radius: 5px;
    }

        .form button:hover, .form button:active, .form button:focus {
            background: #125c82;
        }

    .form .massage {
        margin: 15px 0 0;
        color: #4CAF50;
        font-size: 14px;
    }

        .form .massage a {
            color: #16739f;
            text-decoration: none;
        }

     .form .massage a:hover {
          text-decoration: underline;
     }
