
<html>
<head>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="post">
                <input type="text" placeholder="UserName" id="txtUsername" />
                <input type="password" placeholder="Password" id="txtPassword" />
                <button onclick="GetLogin()">Login</button>
                <p class="massage">Not Registered ? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>
    <script src="~/Scripts/PageScript/index.js"></script>
</body>
</html>